<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Tkey</a>
</nav>

<form th:action="@{/}" method="post"
style="max-width: 300px;margin: 0 auto;"
th:object="${searchterm}">
    <div class="container">
    <div class="m-3">
        <div class="form-group row">
          <label class="col-form-label col-4">Url</label>
              <div class="col-8">
                 <input type="text" class="form-control" th:field="*{url}"/>
              </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-4">word</label>
            <div class="col-8">
                <input type="text" class="form-control" th:field="*{word}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-4">Url</label>
            <div class="col-8">
                <input type="radio" id="option1" name="option1"  value="true" th:field="*{top10}" >
                <label class="custom-control-label" for="option1">Top 10</label>"
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        </div>
    </div>

</form>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>